.active {
    background-color: #1f2937;
    color: white;

  }
  
  .top-bottom{
    animation: top-to-bottom ;
    animation-duration: 0.8s;
    transition: all 1s;
  }
  
  @keyframes top-to-bottom {
    from {left: -100dvw;}
    to{left: 0;}
  }